<!--SIGNATURE -->
<div class="container">
  <h1>Save Jallikattu Bulls from slaughter</h1>
  <p id = "quote">“The greatness of a nation and its moral progress can be judged by the way its animals are treated.”</p>
  <p id = "para">We plead with you to allow us, as proud Tamilians, to hold our heads up high. We do not want to cause these bulls any suffering. That was the idea behind the ban on jalikattu, and we should ensure that we uphold the spirit of that judgment. These bulls have earned the right to live out their lives in peace and tranquility, without being forced into Jallikattu, but without being brutally handled and cruelly slaughtered as well, and only you can give them both.
Please save their lives by signing the petiton, and we will always hold ourselves eternally grateful to you for your mercy and compassion.</p>

  <p id = "error">{{error}}</p>

  <form class="" action="/signature" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <input type="hidden" name="signature" value="">
    <p id = "label">Sign here</p>
    <div id = signarea><canvas id="signature" width="600" height="100"></canvas></div>
    <br>
    <button type="submit" class = "button" name="button">Submit</button>

  </form>

</div>
